@charset "utf-8";

.hy-address {float:left; position:relative;}
.outline_city { background:#fff; border:1px solid #ccc; width: 200px; position:absolute; right: 0; top: 28px; z-index: 100;}
.search_city a { display:block; padding:5px  10px; color:#666; line-height: 18px;}
.search_city a:hover { background:#1fbba6; color:#fff;}
.form_city_b { width: 420px;}
p.tip{color:#666;line-height:20px;padding:5px;margin:0;text-indent:3px; position:relative; display:none;}
.cityBox ul{margin:0;padding:0;overflow:hidden; background:#f7f7f7;}
.cityBox ul li{float:left; padding:8px 10px 7px; border-bottom: 2px solid #f7f7f7; cursor:pointer;margin-left:4px;display:inline;}
.cityBox ul li.on{ border-bottom:2px solid #448aca; color:#448aca; font-weight:bold;}
.hide{display:none;}
.hotCity{clear:left;overflow:hidden;padding-bottom:5px;padding-top:5px;_margin-bottom:8px;}
.cityTab{overflow:hidden;}
.cityTab dl{overflow:hidden;}
.cityTab dl dt{float:left;padding-left:3px;color:#F30;text-indent:5px; line-height:25px;font-size:14px; clear:left; margin-bottom:5px;}
.cityTab dl dd{ padding-left: 30px; margin-bottom:5px;}
.cityTab dl dd a{ padding: 0 10px; line-height:25px;display:inline-block;color:#333;}
.cityTab dl dd a:hover{ color:#fff; background:#448aca;}
.cityinput{ height:29px;line-height:29px;width:145px; padding-left:10px; border:1px solid #ccc;}
.cityinput:focus { border-color:#66afe9;}
.close_city { width: 15px; height: 15px; display: inline-block; background: url(../Scripts/miniui/themes/default/images/close.gif) no-repeat center center; position:absolute; right: 15px; top: 10px;}
#hy-address-tab-0 dl dd { padding-left:0;}
#hy-address-div2-OriginID { left:0; right: auto;}

.cityBox { background:#fff; border:1px solid #ccc; width:600px; box-shadow: 0 2px 7px rgba(0,0,0,0.3);}
.cityslide { width:150px; line-height:25px; }
.cityslide li b {font-weight:normal;}
