@charset "utf-8";
/*contract*/
.green_panel { padding: 3px 4px; line-height: 1; display: inline-block; color: #fff; background: #79c279; font-size: 11px; }
.contract-main { width: 800px; margin: 0 auto; font-size: 14px; line-height: 26px; padding: 20px; background: #fff; }
.contract-main h1 { text-align: center; font-size: 36px; margin-bottom: 30px; }
.contract-main p { margin-bottom: 20px; }
.contract-main h2 { font-weight: bold; margin-bottom: 10px; font-size: 16px; padding: 10px 0 5px; }
.bold { font-weight: bold; }
.tab1 { width: 100%; }
.tab1 td { border: 2px dotted #ccc; vertical-align: middle; }
.contrct_tab { width: 100%; margin-bottom: 30px; }
.contrct_tab th, .contrct_tab td { border: 1px solid #666; padding: 7px 5px; text-align: center; font-weight: normal; vertical-align:middle; line-height:20px; font-size:13px; }
.contrct_tab td.left { text-align: left; }
.td-left td { text-align: left; }
.th-right th { text-align: right; }
div { margin: 0; padding: 0; }
.inputTxt { display:inline-block; border-bottom:1px solid #333; line-height:20px; padding:0 5px; margin:0 3px;}

.spe_contract h5{ line-height:30px;}
.spe_contract h2{ font-size:22px; font-weight:bold; text-align:center; margin: 10px 0;}
.spe_contract h3 { font-size:18px; font-weight:bold; margin: 10px 0;}
.contrct_tab th { }